<div class="pt-3">

    <figure>
        <blockquote class="blockquote">
            <h1>Materias</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            Rellena los campos y utiliza los botones de la parte inferior de este formulario para administrar
            las materias.
        </figcaption>
    </figure>

    <form [formGroup]="themeAddForm" (ngSubmit)="addTheme(themeAddForm.value)" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="fw-semibold mb-3">Niveles</label>

            <select class="form-select" formControlName="level" [ngClass]="(level?.touched || level?.dirty) && level?.hasError('required') ? 'is-invalid' : '' || 
            ((level?.touched || level?.dirty) && !level?.invalid) ? 'is-valid' : ''" (change)="loadCourses($event)">
                <option value="">Seleccione el nivel</option>
                <option *ngFor="let level of list_niveles" [value]="level.id">{{ level.name }}</option>
            </select>

            <div class="invalid-feedback">
                {{ level?.hasError('required') ? 'El nivel es requerido' : '' }}
            </div>
        </div>
        <div class="mb-3">
            <label class="fw-semibold mb-3">Cursos</label>

            <select class="form-select" formControlName="course" [ngClass]="(course?.touched || course?.dirty) && course?.hasError('required') ? 'is-invalid' : '' || 
            ((course?.touched || course?.dirty) && !course?.invalid) ? 'is-valid' : ''" (change)="loadSubject($event)">
                <option value="">Seleccione el curso</option>
                <option *ngFor="let course of list_courses" [value]="course.id">{{ course.name }}</option>
            </select>

            <div class="invalid-feedback">
                {{ course?.hasError('required') ? 'El curso es requerido' : '' }}
            </div>
        </div>

        <div class="mb-3">
            <label class="fw-semibold mb-3">Asignaturas</label>

            <select class="form-select" formControlName="subject" [ngClass]="(subject?.touched || subject?.dirty) && subject?.hasError('required') ? 'is-invalid' : '' || 
            ((subject?.touched || subject?.dirty) && !subject?.invalid) ? 'is-valid' : ''">
                <option value="">Seleccione la asignatura</option>
                <option *ngFor="let subject of list_subjects" [value]="subject.id">{{ subject.name }}</option>
            </select>

            <div class="invalid-feedback">
                {{ subject?.hasError('required') ? 'La asignatura es requerido' : '' }}
            </div>
        </div>

        <div class="mb-3">
            <label class="fw-semibold mb-3">Materia</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="(name?.touched || name?.dirty) && name?.hasError('required') ? 'is-invalid' : '' || 
            ((name?.touched || name?.dirty) && !name?.invalid) ? 'is-valid' : ''" placeholder="Nombre Materia">

            <div class="invalid-feedback">
                {{ name?.hasError('required') ? 'El nombre es requerido' : '' }}
            </div>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input class="form-check-input" type="radio" value="1" formControlName="condition_theme" checked>
            <label class="form-check-label" for="conditionActivo">
                Activo
            </label>
        </div>
        <div class="mb-3 form-check form-check-inline">
            <input class="form-check-input" type="radio" value="0" formControlName="condition_theme">
            <label class="form-check-label" for="conditionInactivo">
                Inactivo
            </label>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="!themeAddForm.valid"><svg
                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg> Agregar</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody *ngFor="let theme of list_themes | orderBy: sortFn; let index=index">
                <tr
                    *ngIf="theme.condition_level === 1 && theme.condition_course === 1 && theme.condition_subject === 1">
                    <th scope="row">{{index+1}}</th>
                    <td>{{ theme.name }}</td>
                    <td>{{ theme.level_name }}</td>
                    <td>{{ theme.course_name }}</td>
                    <td>{{ theme.subject_name }}</td>
                    <td>{{ theme.condition_theme == 1 ? 'Activo' : 'Inactivo' }}</td>
                    <td class="d-flex justify-content-end">
                        <button type="button" class="btn btn-warning btn-sm" (click)="editTheme(theme.id)"
                            data-bs-toggle="modal" [attr.data-bs-target]="'#edit_modal_' + theme.id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-edit-2">
                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                            </svg>
                        </button>

                        <button type="button" class="btn btn-danger btn-sm mx-3" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#delete_modal_' + theme.id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-trash-2">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                </path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                        </button>
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="{{ 'edit_modal_' + theme.id }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar materia</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="themeUpdateForm" (ngSubmit)="updateTheme(themeUpdateForm.value)"
                                    class="needs-validation" novalidate>
                                    <input type="text" class="form-control" formControlName="id" hidden readonly>


                                    <div class="mb-3">
                                        <label class="fw-semibold mb-3">Niveles</label>

                                        <select class="form-select" formControlName="level_update"
                                            [ngClass]="(level_update?.touched || level_update?.dirty) && level_update?.hasError('required') ? 'is-invalid' : '' || 
                                    ((level_update?.touched || level_update?.dirty) && !level_update?.invalid) ? 'is-valid' : ''" (change)="loadCourses($event)">
                                            <option value="">Seleccione el nivel</option>
                                            <option *ngFor="let level of list_niveles" [value]="level.id">{{ level.name
                                                }}</option>
                                        </select>

                                        <div class="invalid-feedback">
                                            {{ level_update?.hasError('required') ? 'El nivel es requerido' : '' }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="fw-semibold mb-3">Cursos</label>

                                        <select class="form-select" formControlName="course_update"
                                            [ngClass]="(course_update?.touched || course_update?.dirty) && course_update?.hasError('required') ? 'is-invalid' : '' || 
                                    ((course_update?.touched || course_update?.dirty) && !course_update?.invalid) ? 'is-valid' : ''" (change)="loadSubject($event)">
                                            <option value="">Seleccione el curso</option>
                                            <option *ngFor="let course of list_courses" [value]="course.id">{{
                                                course.name }}</option>
                                        </select>

                                        <div class="invalid-feedback">
                                            {{ course_update?.hasError('required') ? 'El curso es requerido' : '' }}
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="fw-semibold mb-3">Asignaturas</label>

                                        <select class="form-select" formControlName="subject_update"
                                            [ngClass]="(subject_update?.touched || subject_update?.dirty) && subject_update?.hasError('required') ? 'is-invalid' : '' || 
                                    ((subject_update?.touched || subject_update?.dirty) && !subject_update?.invalid) ? 'is-valid' : ''">
                                            <option value="">Seleccione la asignatura</option>
                                            <option *ngFor="let subject of list_subjects" [value]="subject.id">{{
                                                subject.name }}</option>
                                        </select>

                                        <div class="invalid-feedback">
                                            {{ subject_update?.hasError('required') ? 'La asignatura es requerido' : ''
                                            }}
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" class="form-control" formControlName="name_update"
                                            [ngClass]="(name_update?.touched || name_update?.dirty) && name_update?.hasError('required') ? 'is-invalid' : '' || 
                                    ((name_update?.touched || name_update?.dirty) && !name_update?.invalid) ? 'is-valid' : ''" placeholder="Nombre Materia">

                                        <div class="invalid-feedback">
                                            {{ name_update?.hasError('required') ? 'El nombre es requerido' : '' }}
                                        </div>
                                    </div>
                                    <div class="mb-3 form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="1"
                                            formControlName="condition_theme_update">
                                        <label class="form-check-label" for="conditionActivo">
                                            Activo
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="0"
                                            formControlName="condition_theme_update">
                                        <label class="form-check-label" for="conditionInactivo">
                                            Inactivo
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="d-grid gap-2 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-warning" data-bs-dismiss="modal"
                                            [disabled]="!themeUpdateForm.valid">Actualizar</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="{{ 'delete_modal_' + theme.id }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro que desea eliminar?
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Esta a punto de eliminar <b>{{ theme.name }}</b>.</p>
                                <p>Si usted elimina esta materia <b>NO</b> podrá recuperar la información.</p>
                                <hr>
                                <div class="d-grid gap-2 d-flex justify-content-end">

                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>

                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                        (click)="deleteTheme(theme.id)">Eliminar</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </tbody>
        </table>
    </div>
</div>